#screen-route{

  display:flex;
  flex-direction:column;

}

#routeList{

  flex:1;

  overflow-y:auto;

  padding-bottom:120px;

}

.route-item{
  cursor:grab;
}

.route-item.dragging-mobile{
  opacity:.5;
  transform:scale(.98);
}

.route-item.over{
  border:2px dashed var(--primary);
}

.drag{

  cursor:grab;

  user-select:none;

  touch-action:none;

  padding:10px;

  border-radius:10px;

  background:#eef6ff;

  font-size:1.2rem;

  min-width:42px;
  min-height:42px;

}